/* admin css */
.dashboard {display: flex;min-height: 100vh;}
.dashboard-content {padding: 40px 0 80px;}
.dashboard-content .dashboard_box .info_card{background-color: var(--light);border: 0;border-radius: 20px;margin-bottom: 20px;}
.dashboard-content .dashboard_box .info_card .card-body{color: var(--secondary);display: flex;align-items: center;justify-content: space-between;padding: 30px 30px;}
.dashboard-content .dashboard_box .info_card .card-body .card_cont{width: 60%;}
.dashboard-content .dashboard_box .info_card .card-body .icon{width: auto;max-width: 180px;}
.dashboard-content .dashboard_box .info_card .card-body .icon i{font-size: 140px;opacity: 0.2;}

.dashboard-nav {min-width: 240px;position: fixed;left: 0;top: 0;bottom: 0;overflow: auto;background-color: var(--secondary);transition: all 1s ease;-webkit-transition: all 1s ease;-moz-transition: all 1s ease;-ms-transition: all 1s ease;-o-transition: all 1s ease;}
.dashboard-nav header {min-height: 60px;padding: 14px 27px;display: flex;align-items: center;}
.dashboard-nav header .menu-toggle {display: none;margin-right: auto;}
.dashboard-nav a {color: var(--light);}
.dashboard-nav a:hover {text-decoration: none;}
.dashboard-nav a {color: var(--white);text-decoration: none;}
.brand-logo {font-weight: bold;font-size: 20px;display: flex;color: var(--light);align-items: center;}
.brand-logo:focus, .brand-logo:active, .brand-logo:hover {color: var(--light);text-decoration: none;}
.brand-logo i {color: var(--light);font-size: 27px;margin-right: 10px;}

.brand-logo-mob{font-weight: bold;font-size: 20px;display: flex;color: var(--secondary);align-items: center;}
.brand-logo-mob:focus, .brand-logo-mob:active, .brand-logo-mob:hover {color: var(--secondary);text-decoration: none;}
.brand-logo-mob i {color: var(--secondary);font-size: 27px;margin-right: 10px;}

.dashboard-nav-list {display: flex;flex-direction: column;}
.dashboard-nav-item {min-height: 56px;padding: 8px 20px 8px 70px;display: flex;align-items: center;letter-spacing: 0.02em;transition: ease-out 0.5s;}
.dashboard-nav-item svg {width: 36px;font-size: 19px;margin-left: -40px;}
.dashboard-nav-item:hover {background: rgba(255, 255, 255, 0.04);}
.dashboard-nav-item.active {background: rgba(0, 0, 0, 0.1);}
.dashboard-nav-dropdown {display: flex;flex-direction: column;}
.dashboard-nav-dropdown.show {background: rgba(255, 255, 255, 0.04);}
.dashboard-nav-dropdown.show > .dashboard-nav-dropdown-toggle {font-weight: bold;}
.dashboard-nav-dropdown.show > .dashboard-nav-dropdown-toggle:after {-webkit-transform: none;-o-transform: none;transform: none;}
.dashboard-nav-dropdown.show > .dashboard-nav-dropdown-menu {display: flex;}
.dashboard-nav-dropdown-toggle:after {content: "";margin-left: auto;display: inline-block;width: 0;height: 0;border-left: 5px solid transparent;border-right: 5px solid transparent;border-top: 5px solid rgba(81, 81, 81, 0.8);-webkit-transform: rotate(90deg);-o-transform: rotate(90deg);transform: rotate(90deg);}
.dashboard-nav .dashboard-nav-dropdown-toggle:after {border-top-color: rgba(255, 255, 255, 0.72);}
.dashboard-nav-dropdown-menu {display: none;flex-direction: column;}
.dashboard-nav-dropdown-item {min-height: 40px;padding: 8px 20px 8px 50px;display: flex;-webkit-box-align: center;
-webkit-align-items: center;-ms-flex-align: center;align-items: center;transition: ease-out 0.5s;}
.dashboard-nav-dropdown-item:hover {background: rgba(255, 255, 255, 0.04);}
.menu-toggle {position: relative;width: 42px;height: 42px;display: flex;align-items: center;justify-content: center;
color: var(--secondary);}
.dashboard-nav-dropdown-item svg {width: 36px;font-size: 19px;}

.menu-toggle i {font-size: 20px;}
.dashboard-toolbar {min-height: 60px;background-color: var(--white);display: flex;align-items: center;padding: 8px 27px;box-shadow: 0 0.46875rem 2.1875rem rgba(59,62,102,.03), 0 0.9375rem 1.40625rem rgba(59,62,102,.03), 0 0.25rem 0.53125rem rgba(59,62,102,.05), 0 0.125rem 0.1875rem rgba(59,62,102,.03);}
.dashboard-toolbar .head_wrap{display: flex;align-items: center;justify-content: space-between;gap: 20px;width: 100%;}
.dashboard-toolbar .head_wrap .user_info{display: inline-flex;align-items: center;justify-content: flex-end;gap: 10px;font-size: 16px;font-weight: 600;line-height: 1;text-transform: capitalize;color: var(--secondary);}
.nav-item-divider {height: 1px;margin: 1rem 0;overflow: hidden;background-color: rgba(236, 238, 239, 0.3);}



/* Responsive */
@media only screen and (min-width: 1281px) {
  .dashboard-app, .dashboard-content {margin-left: 240px;transition: all 1s ease;-webkit-transition: all 1s ease;-moz-transition: all 1s ease;-ms-transition: all 1s ease;-o-transition: all 1s ease;}
  .dashboard-compact .dashboard-app, .dashboard-compact .dashboard-content {margin-left: 0;transition: all 1s ease;-webkit-transition: all 1s ease;-moz-transition: all 1s ease;-ms-transition: all 1s ease;-o-transition: all 1s ease;}
  .dashboard-compact .dashboard-nav {left: -240px;}
  .dashboard-toolbar {left: 240px;}
  .dashboard-compact .dashboard-toolbar {left: 0;}
  .menu-toggle:hover, .menu-toggle:active, .menu-toggle:focus {text-decoration: none;color: var(--secondary);}  
}

@media only screen and (max-width: 1281px) {
  .dashboard-nav {display: none;position: fixed;top: 0;right: 0;left: 0;bottom: 0;z-index: 1070;width: 300px;}
  .dashboard-main.dashboard-compact .dashboard-nav {display: block;}
  .dashboard-nav header .menu-toggle {display: flex;}
  .dashboard-app, .dashboard-content{margin-left: 0 !important;} 
}

@media (min-width: 992px) {
  .dashboard-app, .dashboard-content {margin-left: 240px;transition: all 1s ease;-webkit-transition: all 1s ease;-moz-transition: all 1s ease;-ms-transition: all 1s ease;-o-transition: all 1s ease;}
  .dashboard-compact .dashboard-app, .dashboard-compact .dashboard-content {margin-left: 0;transition: all 1s ease;-webkit-transition: all 1s ease;-moz-transition: all 1s ease;-ms-transition: all 1s ease;-o-transition: all 1s ease;}
  .dashboard-toolbar {left: 240px;}
  .dashboard-compact .dashboard-toolbar {left: 0;}    
}

   
@media only screen and (max-width: 991px)  { 
  .dashboard-toolbar .head_wrap a{width: 33.33%;}
  .menu-toggle{justify-content: flex-start;}
  .brand-logo-mob{justify-content: center;}
  .dashboard-nav {display: none;position: fixed;top: 0;right: 0;left: 0;bottom: 0;z-index: 1070;width: inherit;}

  .dashboard-nav header .menu-toggle {display: flex;}
  .dashboard-nav {display: none;position: fixed;top: 0;right: 0;left: 0;bottom: 0;z-index: 1070;}
  .dashboard-nav.mobile-show {display: block;}
}
    
@media only screen and (max-width: 767px)  {
 
  .dashboard-content {padding: 15px 0px;}

}

    
@media only screen and (max-width: 479px)  {
  .dashboard-content .dashboard_box .info_card .card-body .icon i{font-size: 80px;}
  .dashboard-toolbar .head_wrap{flex-wrap: wrap;gap: 0;}
  .dashboard-toolbar .head_wrap .menu-toggle{order: 2;width: 50%;}
  .dashboard-toolbar .head_wrap .brand-logo-mob{order: 1;width: 100%;margin: 10px 0 20px;}
  .dashboard-toolbar .head_wrap .user_info{order: 3;width: 50%;}
}