.newletter_section{display: block;width: 100%;background-color: var(--primary);padding: 60px 0;}
.newletter_section .newletterform{display: flex;align-items: center;justify-content: center;gap: 10px;position: relative;}
.newletter_section .newletterform .field{position: relative;flex: 1;}
.newletter_section .newletterform .field svg{position: absolute;top: 16px;left: 12px;z-index: 2;fill: var(--secondary);}
.newletter_section .newletterform .btn{background: var(--secondary) !important;box-shadow: inherit !important;color: var(--primary) !important;padding: 13px 20px 12px !important;}
.newletter_section .newletterform .btn.inside{position: absolute;right: 6px;top: 6px;z-index: 3;}
.newletter_section .newletterform .btn:hover{background: var(--secondary) !important;box-shadow: 0px 0px 10px -2px var(--secondary) !important;}

#footer{display: block;width: 100%;background-color: var(--secondary);padding: 40px 0 20px;}
#footer .footelogo{display: block;width: 100%;margin-bottom: 20px;text-align: center;}
#footer .footelogo img{width: 200px;max-width: 100%;height: auto;}

#footer .footlink{display: flex;align-items: center;justify-content: center;gap: 20px;margin: 0 0 20px;padding: 0;list-style: none;}
#footer .footlink li a{color: var(--light);font-size: 16px;font-weight: 600;line-height: 1;}
#footer .footlink li a:hover{color: var(--primary);}

#footer .social{margin: 0 0 20px;padding: 0;display: flex;align-items: center;justify-content: center;gap: 10px; line-height: 1;}
#footer .social li a{display: inline-flex;color: transparent;line-height: 1;border: 1px solid #444;padding: 10px;border-radius: 50%;}
#footer .social li a svg{color: var(--primary);font-size: 30px;}
#footer .social li a:hover svg{color: var(--light);}

#footer .copyright{display: block;text-align: center;font-size: 12px;line-height: 1;color: var(--light);}
#footer .copyright a{color: var(--primary);}
#footer .copyright a:hover{color: var(--white);}